@font-face {
  font-family: bodyfont;
  src: url(OpenSans-Regular.ttf);
}

body {
    font-family: bodyfont;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: grey;
}

#header {
    padding:20px;
}

#header a {
    
}

#content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

hr {
    border: 1px solid black;
}